@import "~bulma/sass/utilities/initial-variables"

// WIP vars
$daychunk-1: #a4d9e6
$daychunk-2: #c6f4ff
$daychunk-3: #abefff
$daychunk-4: #a0daff
$daychunk-5: #8fc8ff
$daychunk-6: #a5bef1
$daychunk-7: #9fa9de
$daychunk-8: #707594
// item categories (Type)
$type-Fruit:	#FF159D
$type-AnimalProduct:	#FF036F
$type-Vegetable:	#008B00
$type-ArtisanGoods:	#00A57A
$type-Forage:	#078D39
$type-Seed:	#AE3030
$type-Fish:	#020096
$type-Resource:	#49717D
$type-Trash:	#B6B5BE
$type-Artifact:	#790065
$type-Mineral:	#8C1A64
$type-ToolWeapon:	#365959
$type-Flower:	#E03DD8
$type-Furniture:	#6F19C5
$type-Crafting:	#9E462D
$type-Cooking:	#E0560A
$type-Decor:	#E1A8CC

// Config vars
$brand-primary: #f0f
$brand-primary-invert: #0ff
$brand-primary-offset: #00f
$primary: $brand-primary
$primary-invert: $brand-primary-invert
$body-color: #333
$black: #20252b

a, Link
  color: $brand-primary-offset

.navbar .navbar-menu
  box-shadow:none !important

.sdv-daytime-gradient
  display: flex
  flex-flow: column wrap
  background-image: linear-gradient(#fff, #aff, #afa)
  min-height: 85vh

.basic-item-card
  display: flex
  flex-flow: column wrap
  justify-content: center
  align-items: center
  align-content: space-between
  max-width: 90vw
  padding: 1.2rem
  margin-right: 0.6rem
  border-radius: 2rem
  border: chocolate 6px groove
  background-image: radial-gradient(snow, cornsilk, wheat, tan)

.vertical-spacing
  display: block
  margin-top: 1.35rem
  margin-bottom: 2.35rem
  text-align: center
  max-width: 75vw

.card-palebox-area
  border-radius: 2rem
  width: 100%
  border: chocolate 6px groove
  background-color: #ffffff77
  display: flex
  flex-flow: row wrap
  justify-content: center
  align-items: baseline

.counter-pill // for pages/tags/index && where else??
  padding: 0.25rem
  background-color: white
  color: $brand-primary-offset
  border-radius: 100%
  border: 3px snow grooved

.searchbar-item // another UX pill to spoon the sugar
  border: 2px $brand-primary-offset dashed
  color: $brand-primary-offset
  border-radius: 25%
  padding: 0.13rem
  margin: 0.13rem

.mobile-clrfx // b/c Bulma navbar is brokenshit,clearfix
  height: 74px
  width: 52px

.all-clrfx // b/c Bulma navbar is brokenshit,clearfix
  height: 24px
  width: 52px

.content .taglist
  list-style: none
  margin-bottom: 0
  margin-left: 0
  margin-right: 1.5rem
  margin-top: 1.5rem
  display: flex
  flex-wrap: wrap
  justify-content: left
  align-items: center
  li
    padding: 0 2rem 1rem 0
    margin-bottom: 1.5rem
    margin-top: 0

// Helper Classes
.cluster-bunch
  display: flex
  flex-flow: row nowrap
  min-width: inherit
  justify-content: center
  align-items: middle

.full-width-image-container
  width: 100vw
  height: 400px
  position: relative
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.full-width-image
  width: 100vw
  height: 400px
  background-size: cover
  background-position: bottom
  display: flex
  justify-content: center
  align-items: center

.btn
  display: inline-block
  padding: 1.3rem 1.3rem
  margin: 0.3rem 0.3rem
  font-size: 1.2rem
  line-height: 2.25
  background-color: #fff
  border-radius: 2.25rem
  text-decoration: none
  font-weight: 700
  color: $brand-primary
  text-align: center
  -webkit-box-shadow: inset 0 0 0 2px #c0c
  box-shadow: inset 0 0 0 2px #c0c
  -webkit-transition: all 2s ease
  transition: all 0.2s ease
  &:hover
    color: #fff
    text-shadow: 2px 2px 4px navy,-2px -2px 4px navy,-2px 2px 4px navy,2px -2px 4px navy
    background-color: $brand-primary-invert

.navbar-item
  font-size: 105%

.navbar-item .icon
  color: $primary
// Override for use of svg's from https://simpleicons.org/
.icon svg
  width: 1.5rem
  height: 1.5rem
  fill: currentColor
footer.footer
  padding: 3rem 0rem 0rem
  background-color: transparent

// menu overrides
$menu-item-color: $white-ter
$menu-item-hover-color: $black !important
$menu-item-hover-background-color: $black
$menu-item-active-color: $brand-primary-invert
$menu-item-active-background-color:	$brand-primary-invert
$menu-list-border-left: 1px solid $brand-primary-invert
$menu-label-color: $white-ter

.menu-label
  font-size: 1em !important
  text-align: left
.menu-list
  list-style: none !important
  text-align: left
.social
  padding: 2em
.social a
  padding: .5em .5em .3em .5em
  border-radius: 1em
  background-color: $white-ter
  margin: .5em
  width: 1em
  height: 1em
  vertical-align: middle
  display: inline


// typeface sitewide
h1, h2, h3, h4, h5, h6, button, .btn, .navbar-item
  font-family: 'Solway', cursive;

p, li, span
  font-family: 'Gaegu'
  font-size: 110%


@import "~bulma"

// responsiveness

+mobile
  .blog-list-item header
    display: block
h1, h2, h3, h4, h5
  font-size: 85%

// hardfix for bulma-- moot?
nav
  max-width: 100vw
